@model List<PhotoDto>

<div class="social-sidebar-area bg-white" style="height: 11.8%">
    <!-- Social Area -->
    @*<div class="social-info-area">
            <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i> <span>Facebook</span></a>
            <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></a>
            <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i> <span>Pinterest</span></a>
            <a href="#" data-toggle="tooltip" data-placement="right" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i> <span>Behance</span></a>
        </div>*@
    <!-- Message Box -->
    <div class="message-box">
        <a id="contact" onclick="showInPopup('@Url.Action("ContactUs","Home", null, Context.Request.Scheme)','Please get in touch')"
           data-toggle="modal" data-target=".contact-modal-lg"><img src="/img/core-img/envelope.png" alt=""></a>
    </div>
</div>
<!-- Social Sidebar Area End -->
<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area">
    <div class="carousel h-100 slide" data-ride="carousel" id="welcomeSlider">
        <!-- Carousel Inner -->
        <div class="carousel-inner h-100">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="carousel-item h-100 bg-img" id="should-be-active" style="background-image: url(@Model[i].Url);">
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <span>@(i + 1). </span>
                            <h2><span style="font-size: 2.5vh;">@Model[i].Title</span> <sub>by</sub> @Model[i].SubmitterName</h2>
                        </div>
                    </div>
                </div>      }
        </div>
        <!-- Carousel Indicators -->
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Count; i++)
            {
                <li data-target="#welcomeSlider" data-slide-to="@i" class="bg-img" id="should-be-active1" style=" background-image: url(@Model[i].Url);"></li>
            }
        </ol>
    </div>
</section>

@section Scripts{
    <script>
        $('#should-be-active').addClass('active');
        $('#should-be-active1').addClass('active');
    </script>
    <script src="~/js/ContactUs.js" asp-append-version="true"></script>
}