@model DashboardViewModel

<script src="~/lib/jquery/jquery.js"></script>
<div class="card" style="margin-inline:1rem">
    @if (Model.ContestCategory == 10)
    {
        <img class="card-img-top" src="@Model.Cover_Url" alt="Card image cap" style="width: 300px; height:400px">
    }
    else
    {
        <img class="card-img-top" src="@Model.Cover_Url" alt="Card image cap" style="width: 300px; height:200px">
    }
    <div class="card-body" style="text-align: center;display: flex;flex-direction: column;justify-content: space-between;align-items: center;flex-wrap: wrap;">
        <div>
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            @*<p>isParticipant: @Model.IsCurrentUserParticipant</p>
        <p>isJury: @Model.IsCurrentUserJury</p>*@
            <div>
                Deadline in <p style="color: blue" id="demo">
                    @Model.ActivePhase.EndDate.ToString("MM.dd HH:mm")
                </p>
            </div>
        </div>
        @if (Model.ActivePhase.Name == "PhaseI")
        {
            @if (Model.IsCurrentUserParticipant && Model.HasCurrentUserSybmittedPhoto)
            {
                <div>
                    <a asp-action="GetByIdUserSubmission" asp-controller="Dashboard" asp-route-id="@Model.ContestId"
                       class="btn-outline-primary btn-sm contestDetail">Review</a>
                </div>
            }
            else if (Model.IsCurrentUserJury)
            {
                <div>
                    <a asp-action="GetById" asp-controller="Dashboard" asp-route-id="@Model.ContestId"
                       class="btn-outline-primary btn-sm contestDetail">Review</a>
                </div>
            }
            else
            {
                <a data-toggle="modal" data-target=".contact-modal-lg" class="btn btn-primary"
                   onclick="OpenModal('@Url.Action("Enroll", "Dashboard", null, Context.Request.Scheme)', 'Enroll', @Model.ContestId)">Enroll</a>
            }
        }
        else if (Model.ActivePhase.Name == "PhaseII")
        {
            <p>Closed for enrollement</p>

            @if (Model.IsCurrentUserParticipant)
            {
                <a asp-action="GetByIdUserSubmission" asp-controller="Dashboard" asp-route-id="@Model.ContestId"
                   class="btn-outline-primary btn-sm contestDetail">Review</a>
            }
            else if (Model.IsCurrentUserJury)@*If jury*@
            {
                <p>Finished</p>
                @if (Model.IsCurrentUserParticipant || Model.IsCurrentUserJury)
                {
                    <a asp-action="GetById" asp-controller="Dashboard" asp-route-id="@Model.ContestId"
                       class="btn-outline-primary btn-sm contestDetail">Review</a>
                }
            }
        }
        else if (Model.ActivePhase.Name == "Finished")
        {
            <p>Finished</p>

            @if (Model.IsCurrentUserParticipant || Model.IsCurrentUserJury)
            {
                <a asp-action="GetById" asp-controller="Dashboard" asp-route-id="@Model.ContestId"
                   class="btn-outline-primary btn-sm contestDetail">Review</a>
            }
        }
    </div>
</div>


<script>
        @*$(document).ready(function () {
            var start = new Date('@Model.ActivePhase.EndDate.ToString()').getTime();
            var end = new Date('@DateTime.UtcNow.ToString()').getTime();
                var time = (start - end) / 1000;
            //setInterval(function () {
            //    //$('#demo').text(time + ' sec.');
            //}, 1000);

            var myVar = setInterval(time, 1000);
            function myTimer() {
                var d = new Date();
                var t = d.toLocaleTimeString();
                $("#demo").html(t);
            }
        });*@
</script>

@section Scripts{

}
